$default-transition-time: 0.2s;
$shading-color: #F2F2F2;
$shading-text-color: #CCCCCC;
$color-on-hover: #FAFAFA;
$default-icon-size: 40px;
$default-transition-time: 0.2s;
$footer-text-color: #888888;
$default-focus-outline: 2px solid #000000;