.todos__todo-checkbox {
    font-size: 24px;
    font-weight: 300;
}

.todos__todo-checkbox input[type="checkbox"] + label {
    cursor: pointer; /* maybe should be removed */
    display: flex;
    align-items: center;
}

.todos__todo-checkbox input[type="checkbox"] + label::before {
    content: '';
    width: var(--default-icon-size);
    height: var(--default-icon-size);
    background: url('unchecked.svg') no-repeat center center;
    transition: var(--default-transition-time) background;
}

.todos__todo-checkbox input[type="checkbox"]:focus + label::before {
    outline: var(--default-focus-outline);
}

.todos__todo-checkbox input[type="checkbox"]:checked + label {
    color: var(--shading-text-color);
    text-decoration: line-through;
}

.todos__todo-checkbox input[type="checkbox"]:checked + label::before {
    background-image: url('checked.svg');
}

.todos__todo-checkbox input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}