.todos__todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 2px solid #F2F2F2;
  transition: 0.2s background;
}
.todos__todo:last-child {
  border-bottom: none;
}
.todos__todo:hover {
  background-color: #FAFAFA;
}
.todos__todo:not(:hover) button {
  transition: opacity 0.2s;
  opacity: 0;
}
.todos__todo:not(:hover) button:focus {
  opacity: 1;
}
