.todos__todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 2px solid var(--shading-color);
    transition: var(--default-transition-time) background;
}

.todos__todo:last-child {
    border-bottom: none;
}

.todos__todo:hover {
    background-color: var(--color-on-hover);
}

.todos__todo:not(:hover) button {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
}