.todos-widget__footer-section-switcher label {
    border-radius: 5px;
    padding: 4px;
    margin: 0 7px;
    border: 2px solid transparent;
}

.todos-widget__footer-section-switcher input:checked + label {
    box-sizing: content-box;
    border-color: var(--shading-color);
}