.todos-widget__footer-section-switcher label {
    border-radius: 5px;
    padding: 4px;
    margin: 0 7px;
}

.todos-widget__footer-section-switcher input:checked + label {
    outline: 2px solid var(--shading-color);
}